.idea
vendor/
/whoami
dist/

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.drawio
*.terraform*

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.drawio
*.terraform*

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.drawio
*.terraform*